.header {
  width: 100%;
  height: 150px;
  background-color: $primary;
  padding: 0 5%;
  position: sticky;
  top: -90px;
  z-index: 10;

  header {
    @include flexbox(space-between, center);
    padding-top: 20px;

    .elements {
      @include flexbox(center, center);

      .element {
        display: block;
        margin-right: 40px;
        @include flexbox(center, center);
        flex-direction: column;
        color: $secondary;
        cursor: pointer;

        &:hover {
          p {
            color: $accent;
          }
        }

        .like {
          position: relative;
          span {
            display: inline-block;
            padding: 3px 8px;
            font-size: 12px;
            font-weight: 800;
            color: $primary_dark;
            background-color: $accent;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            right: -13px;
          }
        }

        p {
          margin-top: 10px;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }

  nav {
    margin-top: 25px;
    @include flexbox(center, flex-start);

    & > ul {
      @include flexbox(center, center);
      list-style: none;

      & > li {
        margin-right: 30px;
        padding-bottom: 20px;
        &:hover {
          .sub_category {
            display: block;
            @include flexbox(space-between, flex-start);
            transition: 0.5s ease-in-out;
          }
        }

        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: $secondary_light;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $accent;
          }
        }

        .sub_category {
          width: 100%;
          height: 300px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $secondary_light;
          padding: 0 180px;
          padding-top: 50px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          display: none;

          .by_category,
          .by_price {
            width: 25%;
            p.title {
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              color: $primary;
              margin-bottom: 20px;
            }
            p {
              a {
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: $primary;
                margin-bottom: 15px;
                &:hover {
                  color: $primary_dark;
                  font-weight: 600;
                }
              }
            }
          }

          .best_sellers {
            width: 50%;
            p {
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              color: $primary;
              margin-bottom: 20px;
            }

            &_products {
              width: 100%;
              //   @include flexbox(flex-start, flex-start);
              //   overflow-x: scroll;
              // ::-webkit-scrollbar{
              //     color: red;
              // }

              .best_sellers_product {
                margin-right: 15px;
                img {
                  width: 100px;
                  height: 100px;
                }
                p {
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 21px;
                  color: $primary;
                  text-align: center;
                }
              }
            }
          }
        }
        button {
          background-color: transparent;
          padding: 5px;
          border: none;
          color: $secondary_light;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $accent;
          }

          &:first-child {
            border-right: 1px solid $secondary;
          }
        }

        button.active {
          color: $accent;
        }
      }
    }

    a.categories_title {
      display: none;
    }

    @include tablet {
        flex-direction: row-reverse;
        & > ul {
        li {
          width: fit-content;
          a,
          img {
            display: none;
          }
        }
      }
      a.categories_title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
      }
    }
  }
}
