.search_bar {
  width: 100%;
  height: 100px;
  background-color: $secondary_light;
  @include flexbox(center, center);
  // position: absolute;
  // top: 100%;
  left: -5%;
  z-index: 10;

  .search {
    width: 50%;
    height: 40px;
    background-color: $primary;

    img {
      width: 16px;
      height: 16px;
      margin: 0 10px;
    }

    input {
      border: none;
      height: 40px;
      width: 90%;
      background-color: transparent;
      outline: none;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $secondary;
    }
  }
  button{
    @include btn($primary_light, $secondary_light, 18px);
    padding: 8px 10px;
    margin-left: 10px;
  }
}
