.product {
  width: 280px;
  height: 400px;
  border-bottom: 5px solid $accent;
  border-right: 5px solid $accent;
  box-sizing: content-box;
  position: relative;
  background-color: $secondary-light;
  box-shadow: 1px 1px 20px $primary-light;

  img {
    width: 100%;
    height: 300px;
  }

  p.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $primary-dark;
    margin-left: 15px;
    margin-top: 10px;
  }

  p.seller,
  p.product_date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $primary-light;
    margin-top: 10px;
    margin-left: 15px;
  }

  p.discount {
    display: block;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $primary-dark;
    background-color: $accent;
    position: absolute;
    top: 0;
    right: 0;
  }

  .new {
    height: 30px;
    width: fit-content;
    @include flexbox(center, flex-end);
    position: absolute;
    bottom: 0;
    right: 0;

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: $primary-dark;
      background-color: $accent;
      padding: 5px 5px;
    }

    span.like {
      display: inline-block;
      padding: 10px;
      background-color: $primary;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      vertical-align: middle;
      color: $secondary-light;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        vertical-align: middle;
      }
    }
  }
}
